/* Body */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8; /* Light gray color */
    font-family: 'Roboto', sans-serif; /* New font */
    margin: 0;
}

/* Container */
.container {
    width: 60%;
    background: #ffffff; /* White color */
    border-radius: 20px;
    padding: 30px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1); /* 3D effect */
}

/* Heading */
h1 {
    font-size: 3rem;
    text-align: center;
    color: #333333; /* Dark gray color */
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Text shadow for 3D effect */
}

/* Label and Select */
label {
    font-size: 1.3rem;
    color: #333333; /* Dark gray color */
    margin-bottom: 15px;
}

#quote-type {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, #f2f2f2, #e0e0e0); /* Gradient background for 3D effect */
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif; /* New font */
}

/* Quote Display */
.quote-display {
    margin-top: 30px;
}

.quote-output-head {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    color: #333333; /* Dark gray color */
    margin-bottom: 20px;
}

textarea {
    width: calc(100% - 40px); /* Adjusted width to fit within the container */
    padding: 20px;
    border: none;
    border-radius: 15px;
    resize: none;
    background: linear-gradient(to right, #f2f2f2, #e0e0e0); /* Gradient background for 3D effect */
    border: 1px solid #dddddd; /* Light gray color */
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1); /* 3D effect */
    color: #333333; /* Dark gray color */
    font-family: 'Roboto', sans-serif; /* New font */
    font-size: 1.2rem; /* Increased font size */
}

/* Button Container */
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

button {
    width: 40%;
    padding: 15px;
    margin: 0 10px;
    background-color: #333333; /* Dark gray color */
    color: #ffffff; /* White color */
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.1rem;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2); /* 3D effect */
    font-family: 'Roboto', sans-serif; /* New font */
    transition: all 0.3s ease;
}

button:hover {
    background-color: #555555; /* Slightly darker gray color */
    transform: translateY(-3px); /* Add hover effect */
}

button:focus {
    outline: none;
}
/* Existing CSS rules... */

/* Copy to clipboard alert */
.popup-dialog {
    display: none;
    position: fixed;
    bottom: 25px; /* Adjust the position to accommodate the footer */
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #333333; /* Dark gray color */
    color: #ffffff; /* White color */
    border-radius: 5px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3); /* 3D effect */
    z-index: 2; /* Ensure the popup dialog displays above the footer */
    font-family: 'Roboto', sans-serif; /* New font */
}

/* Footer styles */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f8f8; /* Light gray color */
    color: #333333; /* Dark gray color */
    padding: 10px 10px;
    gap: 10px;
    font-family: 'Arial', sans-serif; /* New font */
    font-size: 14px; /* Adjust the font size */
    z-index: 1; /* Ensure the footer stays at the bottom */
}

.footer a {
    text-decoration: none;
    color: #29648a; /* Calming blue color */
    margin: 0 10px; /* Adjust the margin to provide space between the links */
}

.footer a:hover {
    text-decoration: underline; /* Add underline on hover */
}

/* Adjust the position for small screens */
@media only screen and (max-width: 600px) {
    .button-container {
        flex-direction: column;
        align-items: center;
    }
}
